#home-page__wrapper {
  #header {
    position: sticky;
    top: 0;
    background-color: #f0f1f2;
    z-index: 1000;

    #logo-container {
      padding: 16px 32px;

      .logo-yamaha {
        width: 112px;
        height: 40px;
      }
    }
  }

  #main-content {
    .circle {
      width: 28px;
      height: 28px;
    }

    .circle {
      &-blue-gray {
        background: linear-gradient(to right, blue 50%, gray 50%);
      }

      &-black-gray {
        background: linear-gradient(to right, black 50%, gray 50%);
      }
    }
  }
}
